<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>CorrectCode</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2370690981931884",
            enable_page_level_ads: true
          });
        </script>
    </head>
    <body>
    <nav class="nav">Nouveau devoir pour la classe {{classe_nom}}</nav>
        <div class="wrapper">
            <!--<p>Merci de mettre la valeur "{{classe_id}}" dans IdClasse et la valeur "{{current_user.id}}" dans IdProfesseur.</p> -->

            <!-- Creation du formulaire -->
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <!-- appel du formulaire sous form de LISTE (_ul) -->
                {{ form.as_ul }}
                <input type="submit" class="btn yellow lighten-1 right" value="Creer un devoir" >
            </form>
        </div>
    </body>
</html>
