<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>error</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2370690981931884",
            enable_page_level_ads: true
          });
        </script>
<body>
    <div class="wrapper">
        <p>Vous avez déjà ou mal rendu ce devoir... Contactez votre professeur !</p>
        <a href="/index/" class="btn yellow lighten-1 right">retour au menu</a>
    </div>
</body>
</html>











