Lib/
Scripts/
pip-selfcheck.json
tcl/
.idea/vcs.xml
.idea/
Include/

src/blog/migrations/__pycache__/**

src/blog/__pycache__/**

src/test_project/__pycache__
src/test_project/__pycache__/**
src/test_project/__pycache__/**/