<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>détails de la classe {{uneClasse.nom}}</title>
    <center><u>Gestion [ {{user.username}} ]</u></center>
</head>
<body>

<u>Devoirs à rendre de la classe d'id {{uneClasse.id}}<br/>
    Tenu par{{uneClasse.professeur}}</u> <br/><br/>
{{unDevoir.titre}}

<!--Verification : Si la classe a des devoirs -->
{%if devoirs %}

<!--Pour chaques devoir : affichage du titre -->
{% for unDevoir in devoirs %}
        <li><a href="/devoir/{{unDevoir.id}}/"> {{unDevoir.titre}} </a></li>
    {% endfor %}

<!-- Si pas de devoirs : erreur-->
{%else%}
<h3>Il n'y a pas de devoirs disponibles !</h3>

{%endif%}
<br/>

<!--bouton creer un nouveau devoir-->
<a href="/create/{{uneClasse.id}}">[ Creer un nouveau devoir ]</a>
</body>
</html>
