<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}</title>
    <center><u>Gestion [ {{user.username}} ]</u></center>
</head>
<body>

        <th><u>Classes de {{user.username}}</u></th>

        <!--Verification : Si il y a des classe -->
{%if classes%}
        <br/><br/>

        <!-- Pour chaque classe: affichage du nom + bouton envois sur classe/id -->
    {% for uneClasse in classes %}
        <li><a href="/classe/{{uneClasse.id}}/"> {{uneClasse.nom}} </a></li>
    {% endfor %}

        <!-- Si pas de classe : erreur-->
{%else%}
<h3>You don't have any classes</h3>

{%endif%}

</body>
</html>
